@CHARSET "ISO-8859-1";

body { margin: 0; padding: 0; color: #000; background-color: #565656; background-repeat: repeat-x; font-family: Arial, Trebuchet MS; font-size: 12px; line-height: 18px; }
a:link, a:visited { text-decoration: none; color: #0084FF; }
a { outline: none; }

#wrapper { width: 950px; margin-left: auto; margin-right: auto; padding: 0; background-color: #FFF; }

#header_topbar { width:950px; float:left; background-color:#1B55E8;}
#header_topbar ul { list-style-type: none; list-style-image: none; float: right; padding: 0; margin: 0; }
#header_topbar li { float: left; display: block; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#header_topbar li a:link, #header_topbar li a:visited { float: left; color: #FFFFFF; display: block; height: 25px; padding-top: 10px; font-size: 12px; padding-left: 15px; padding-right: 10px; margin-bottom: 0px; font-weight: normal; }
#header_topbar li a:hover, #header_topbar li a:active { color: #F4FC02; font-size: 12px; margin-bottom: 0px; font-weight: normal; background-color: #03267F;}

#welcome_msg {float: left; padding: 0; margin: 10px 0px 0px 15px; color: #F4FC02; font-size: 14px; }

#mainmenu { width: 100px; float: left; background-color: #1B55E8; }
#mainmenu ul { list-style-type: none; list-style-image: none; float: right; padding: 0; margin: 0; }
#mainmenu li { float: left; display: block; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#mainmenu li a:link, #mainmenu li a:visited { float: left; color: #FFFFFF; display: block; height: 25px; padding-top: 10px; font-size: 12px; padding-left: 15px; padding-right: 10px; margin-bottom: 0px; font-weight:normal; }
#mainmenu li a:hover, #mainmenu li a:active { width: 75px; color: #F4FC02; font-size: 12px; margin: 0; font-weight: normal; background-color: #03267F; }

#mainPage { margin: 0; display: inline-block;}

.pageWrapper {width: 850px; padding: 0; background-color: aqua;}
.adminpagesTitle {width: 850px; padding: 0; background-color: olive;}
