@font-face
{
    font-family: Comfortaa_Regular;
    src: url('../fonts/Comfortaa_Regular.ttf'),
    url('../fonts/Comfortaa_Regular.eot');
}
@font-face
{
    font-family: SourceSansPro_Regular;
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.otf');
}